

body{
	background-color: white;
	font-family: 'Raleway', sans-serif;
	
	
}

h1{
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 300%;
	
	
}

h2{
	font-family: 'Playfair Display', serif;
	
}

p{
	font-family: 'Playfair Display', serif;
	
}

img{
	margin:.5em;
	height:20em;
	width:27em;
	float:right;
	clear:both;
	
	
}

html{
	border:solid;
	border-color:lightblue;
	border-width:3em;
}



.navigationbar{
	float:left;
	margin:3em;
	padding:2em;
	font-family: 'Playfair Display', serif;
	
	
	
}

.Background{
	clear:left;
	text-align:center;
	font-family: 'Playfair Display', serif;
	
}




