

body{
	background-color: #D7EEFA;
	font-family: 'Raleway', sans-serif;
	
}

h1{
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 400%;
}

h2{
	
}

p{
	text-align:center;
	font-size:170%;
}

img{
	margin:.5em;
	height:20em;
	width:27em;
	float:right;
	clear:both;
	
	
}


.navigationbar{
	float:left;
	margin:2em;
	padding:3em;
	
}

.Background{
	clear:left;
}


